{% extends 'base.html.twig' %}

{% block title %}Modération{% endblock %}

{% block body %}
    <div class="container">

    <div class="bg-primary p-2 text-center text-white mb-4">
        <h1>Vos demandes en attente de validation</h1>
    </div>

    <section class="mb-4">
        <h2>Les utilisateurs</h2>
        <ul class="list-group list-group-flush">
            {% if users %}
            {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1">
                        {{ user.email }}
                    </div>
                        <div class="d-flex flex-column gap-1">
                        <a class="btn btn-outline-success" href="{{ path('moderateUser', {'userId':user.id}) }}">
                            Valider
                        </a>
                        <a class="btn btn-outline-danger" href="{{ path('deleteUser', {'userId':user.id}) }}">
                            Refuser
                        </a>
                    </div>
                </li>
            {% endfor %}
            {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Aucune demande en attente.
                </li>
            {% endif %}
        </ul>
    </section>
    
    <section class="mb-4">
        <h2>Les offres</h2>
        <ul class="list-group list-group-flush">
            {% if offers %}
            {% for offer in offers %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1">
                        {{ offer.name }} {{ offer.description }}
                    </div>
                        <div class="d-flex flex-column gap-1">
                        <a class="btn btn-outline-success" href="{{ path('moderateOffer', {'offerId':offer.id}) }}">
                            Valider
                        </a>
                        <a class="btn btn-outline-danger" href="{{ path('deleteOffer', {'offerId':offer.id}) }}">
                            Refuser
                        </a>
                    </div>
                </li>
            {% endfor %}
            {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Aucune demande en attente.
                </li>
            {% endif %}
        </ul>
    </section>

    <section>
        <h2>Les candidatures</h2>
        <ul class="list-group list-group-flush">
            {% if candidates %}
                {% for candidate in candidates %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1">
                            {{ candidate.candidate.firstname }} {{ candidate.candidate.lastname }} {{ candidate.offer.name }}
                        </div>
                        <div class="d-flex flex-column gap-1">
                            <a class="btn btn-outline-success" href="{{ path('moderateCandidate', {'candidatureId':candidate.id}) }}">
                                Valider
                            </a>
                            <a class="btn btn-outline-danger" href="{{ path('deleteCandidature', {'candidatureId':candidate.id}) }}">
                                Refuser
                            </a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Aucune demande en attente.
                </li>
            {% endif %}
        </ul>
    </section>

{% endblock %}
