{% extends 'base.html.twig' %}

{% block title %}Modération{% endblock %}

{% block body %}
    <div class="container">

    <h1 class="text-center bg-info text-white-50">Vos demandes en attente de validation</h1>
    <h2>Les utilisateurs</h2>
    <div class="container border">
        {% if users %}
            {% for user in users %}
                <div class="row m-2 justify-content-between border-info">
                    {{ user.email }}
                    <a class="btn btn-info" href="{{ path('moderateUser', {'id':user.id}) }}">Valider le compte</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune demande en attente</p>
        {% endif %}
    </div>
    <h2>Les offres</h2>
        <div class="container border">
            {% if offers %}
                {% for offer in offers %}
                    <div class="row m-2 justify-content-between border-info">
                        {{ offer.name }}
                        {{ offer.description }}
                        <a class="btn btn-info" href="{{ path('moderateOffer', {'id':offer.id}) }}">Valider l'offre</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune demande en attente</p>
            {% endif %}
        </div>
    <h2>Les candidatures</h2>
        <div class="container border">
            {% if candidates %}
                {% for candidate in candidates %}
                    <div class="row m-2 justify-content-between border-info">
                        {{ candidate.candidate.firstname }} {{ candidate.candidate.lastname }} {{ candidate.offer.name }}
                        <a class="btn btn-info" href="{{ path('moderateCandidate', {'id':candidate.id}) }}">Valider la candidature</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune demande en attente</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
