{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_row(form.email, {'label':false }) }}
</div>
<div class="form-group">
    {{ form_label(form.password) }}
    {{ form_row(form.password, {'label':false, 'value': '' }) }}
</div>

<button class="btn btn-primary">{{ button_label|default('Créer un consultant') }}</button>
{{ form_end(form) }}

